//////////////////// VARIABLES  //////////////////////

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-background: #73c2aa;
$color-background-alt: #28b485;
$color-background-secondary: #97d0c4;


$color-primary-font: #F1EEE9;
$color-secondary-font: #73777B;
$color-accent-font: #EC994B;

// FONT
$font-heading-1: 5.4rem;
$font-heading-2: 3.6rem;
$font-heading-3: 2.8rem;
$font-heading-4: 2rem;
$font-heading-5: 1.6rem;

// BOX SHADOW

$box-shadow-large: 0 0.5rem 3rem rgba(0, 0, 0, 0.8);
$box-shadow-medium: 0 0.5rem 3rem rgba(0, 0, 0, 0.5);
$box-shadow-small: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);